<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chats.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/libraries/remixicon.css">
</head>

<body>
    <div id="main">
        <div class="header">
            <div class="logo">
                <a href="/">Harry's Chat App</a>
            </div>
            <div class="right">
                <a href="/auth/logout">
                    <i class="ri-logout-box-r-line"></i>
                </a>
                <a class="profile" href="/auth/profile">
                    <img src="/imgs/pikachu.jpg" alt="profileImage">
                </a>
            </div>

        </div>
<div class="profileContainer">
    <div class="profileImage">
        <img src="/imgs/ashwithpikachu.jpg" alt="">
    </div>
    <div class="info">
        <div class="Username">This is Dummy Name</div>
        <div class="email">Email@email.com</div>
        <a href="/edit"><button class="btn">Edit Account Info</button></a>
    </div>
</div>
        

    </div>
</body>

</html>